*{box-sizing: border-box;}

body{
    width: 100%;
    height: 100%;
    background-image: url("../image/Rectangle\ 1.png");
    background-size: cover;
    margin-left: 40px;
    margin-right: 0;     
}

header{
    display: flex;
    margin: 0 auto;
}

img{
    padding-top: 70px;
    
}

.date{
color: rgb(200, 200, 200);
font-family: Kyiv*Type Titling;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
padding-top: 77px;
padding-left: 56px;
}

h2{
    padding-top: 60px;
    padding-left: 1045px;;
    padding-right: 155px;
    color: white;
    font-size: 35px;
}

.description{
    text-align: left;
    color: white;
    font-size: 28px;
}

.star{
    width: 212px;
    height: 32px;
    text-align: center;
    background-color: transparent;    
    color: #f4f40a;
    font-size: 28px;
    display: inline;
}
.empty-star{
    color:white;
    font-size: 28px;
    display: inline;
}

.stream{
    width: 272px;
    height: 64px;
    left: 40px;
    top: 682px;
    border-radius: 10px;
    background: rgb(213, 13, 31);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 141.52%;
    letter-spacing: 0%;
    margin-top: 682px;

}

.episodes{
width: 271px;
height: 64px;
margin-left: 90px;
margin-top: 682px;
background: transparent;
box-sizing: border-box;
border: 3px solid rgb(255, 255, 255);
border-radius: 10px;
color: rgb(255, 255, 255);
font-size: 22px;
font-weight: 500;
line-height: 141.52%;
letter-spacing: 0%;
}

.popular{
    display: flex; 
}

h5{
    text-align: left;
    color: white;
    font-size: 28px;
}

.left, .right{
    width: 41px;
    height: 41px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50px;
    border-radius: 100%;
    margin-left: 520px;
}
.left:hover, .right:hover{
    width: 41px;
    height: 41px;
    text-align: center;
    color: rgb(153, 148, 148)e;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid rgb(153, 148, 148);
    border-radius: 50px;
    border-radius: 100%;
}

.films{
    margin-left: 50px;;
   }

.warning{
width: 174px;
height: 66px;
background: rgba(255, 255, 255, 0.49);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 141.52%;
letter-spacing: 0%;
text-align: center;
}

.warning-left{
width: 33px;
height: 66px;
background: rgb(213, 13, 31);
}