*{box-sizing: border-box;}

body{
    width: 100%;
    height: 100%;
    background-image: url("../image/Rectangle\ 1.png");
    background-size: cover;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 0;       
}

header{
    display: flex;
    align-items: center;
}

.header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 156px;
    height: 48px;
    margin-top: 70px;    
}

.date{
color: rgb(200, 200, 200);
font-family: Kyiv*Type Titling;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
padding-top: 77px;
padding-left: 56px;
}

h2{
    margin-top: 60px;
    margin-left: 1590px;
    color: white;
    font-size: 35px;
}

.avatar{
    height: 74px;
    margin-top: 42px;
    margin-right: 33px;
    margin-left: 60px;

}

.description{
    text-align: left;
    color: white;
    font-size: 28px;
}

h3{
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0%;
}

h1{
    font-family: Inter;
    font-size: 64px;
    font-weight: 800;
    line-height: 77px;
    letter-spacing: 5.5%;
    margin-left 0;
}

h4{
    font-family: Inter;
    font-size: 29px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0%;
}

p{
    /* In 1980s Indiana, a group of young friends witness supernatural forces and secret government exploits. As they search for answers, the children unravel a series of extraordinary mysteries. */
    width: 864px;
    height: 130px;
    color: rgb(167, 166, 166);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;    
}

.star{
    width: 212px;
    height: 32px;
    text-align: center;
    background-color: transparent;    
    color: #f4f40a;
    font-size: 28px;
    display: inline;
}
.empty-star{
    color:white;
    font-size: 28px;
    display: inline;
}

.stream{
    width: 272px;
    height: 64px;
    left: 40px;
    top: 682px;
    border-radius: 10px;
    background: rgb(213, 13, 31);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 141.52%;
    letter-spacing: 0%;
    margin-top: 682px;

}

.episodes{
width: 271px;
height: 64px;
margin-left: 90px;
margin-top: 682px;
background: transparent;
box-sizing: border-box;
border: 3px solid rgb(255, 255, 255);
border-radius: 10px;
color: rgb(255, 255, 255);
font-size: 22px;
font-weight: 500;
line-height: 141.52%;
letter-spacing: 0%;
}

.popular{
    display: flex; 
}

h5{
    text-align: left;
    color: white;
    font-size: 28px;
}

.left, .right{
    width: 41px;
    height: 41px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50px;
    border-radius: 100%;
    margin-left: 520px;
}
.left:hover, .right:hover{
    width: 41px;
    height: 41px;
    text-align: center;
    color: rgb(153, 148, 148)e;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid rgb(153, 148, 148);
    border-radius: 50px;
    border-radius: 100%;
}

.films{
    margin-left: 50px;;
   }

.warning{
width: 174px;
height: 66px;
background: rgba(255, 255, 255, 0.49);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 141.52%;
letter-spacing: 0%;
text-align: center;
}

.warning-left{
width: 33px;
height: 66px;
background: rgb(213, 13, 31);
}